* { 
	padding: 0; margin: 0; 
}
canvas { 
	background-image: url("grass.jpg");
	background-size: 605px 400px;
	/*background-color: #22d822;*/
	display: block; 
	margin: 0 auto; 
}
#score,#ques{
	display: inline;
}
#box{
	background-color: white;
	border: black solid;
	height: 50px;
	width: 600px;
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
}
#quesbox{
	float:right;
	display: inline;
}
#scorebox{
	display: inline;
}

#life1,#life2,#life3{
	margin-top: 5px;
	display: inline;
}

#lives{
	margin-left: 30px;
	display: inline;
}
